{% extends "admin/base_site.html" %}


{% block content %}
    {% load crispy_forms_tags %}

    <!-- reset Password -->
        <p>Forgotten your password? Enter your email address belowand we'll email instructionsfor setting a new one</p>
        <form method="post" action="" name="">
            {% csrf_token %}
            {{password_reset_form|crispy}}
            <label for="id_otp_token" >OTP Token:<br/></label> <input type="text" name="otp_token" id="id_otp_token"><br/>
            {% if msg and msg != '' %}
            <div class="alert alert-success">{{ msg }}</div>
            {% endif %}
            {% if err and err != '' %}
            <div class="alert alert-danger">{{ err }}</div>
            {% endif %}        
            <input type="submit" value="Reset my password">
        </form>
{% endblock %}